* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

:root {
  --primary-color: #224e41;
  --primary-font: #1d1d1d;
  --secndary-font: #4a4a4a;
  --base-color: #ffff;
  --icon-color: #efb215;
  --section-bg: #f1eee9;
  --primary-heading-font: "playfair display", sans-serif;
  --primary-subheading-font: "IBM Plex Sans", sans-serif; }

.main-container {
  max-width: 114rem; }

.maring-side-auto {
  margin: 0 auto; }

.marign-top-bottom {
  margin-top: 9.6rem;
  margin-bottom: 9.6rem; }

.padding-side {
  padding: 0 1.5rem; }

.undeline {
  border-bottom: 1px solid var(--primary-font); }

.grid {
  display: grid; }

.grid--2-col {
  grid-template-columns: repeat(2, 1fr); }

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem; }
  .nav-bar__logobox--img {
    height: 3rem; }
  .nav-bar__navlist {
    display: flex;
    list-style: none;
    font-family: var(--primary-subheading-font);
    font-weight: 500;
    font-size: 2rem;
    gap: 2rem; }
    .nav-bar__navlist-items {
      text-decoration: none;
      color: var(--primary-font);
      border-bottom: 1px solid transparent; }
    .nav-bar__navlist :hover {
      border-bottom-color: var(--primary-font); }

.section-hero-container__textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  justify-content: center; }
  .section-hero-container__textbox-heading {
    font-family: var(--primary-font);
    font-size: 5.2rem;
    color: var(--primary-font);
    letter-spacing: 2px;
    line-height: 0.9; }
  .section-hero-container__textbox-subtext {
    font-family: var(--primary-subheading-font);
    color: var(--secndary-font);
    font-size: 3rem;
    font-weight: 500; }
  .section-hero-container__textbox-cta {
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none; }

.section-hero-container__imgbox-img {
  width: 100%; }

.btn {
  padding: 1.5rem 2.5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 2rem;
  transition: transform 0.2s; }

.btn:hover {
  transform: translateY(2px);
  box-shadow: 10px 7px 9.5px rgba(0, 0, 0, 0.119); }

.first-letter {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 8.6rem;
  color: var(--primary-color); }
