* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  //seting default font as 10px - 10/16px = 0.625 = 62.5
}

// colours

:root {
  --primary-color: #224e41;
  --primary-font: #1d1d1d;
  --secndary-font: #4a4a4a;
  --base-color: #ffff;
  --icon-color: #efb215;
  --section-bg: #f1eee9;

  --primary-heading-font: "playfair display", sans-serif;
  --primary-subheading-font: "IBM Plex Sans", sans-serif;

  --primary-box-shadow: 10px 7px 9.5px rgba(0, 0, 0, 0.119);
}

.main-container {
  max-width: 114rem;
}

.small-main-container {
  max-width: 100rem;
}

.maring-side-auto {
  margin: 0 auto;
}

.marign-top-bottom {
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
}

.marign-top-bottom-md {
  margin-top: 4.6rem;
  margin-bottom: 4.6rem;
}

.margin-bottom-xl {
  margin-bottom: 9.6rem;
}

.margin-bottom-l {
  margin-bottom: 4rem;
}

.margin-bottom-md {
  margin-bottom: 1rem;
}

.padding-side {
  padding: 0 1.5rem;
}

.padding-top-bottom {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.padding-bottom {
  padding-bottom: 4.8rem;
}

// header {
//   background-color: tan;
// }

.undeline {
  border-bottom: 1px solid var(--primary-font);
}

.grid {
  display: grid;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-gap-small {
  column-gap: 5rem;
}

.grid--4-col {
  grid-template-columns: repeat(4, 1fr);
}

// suppportin class

.center-align-txt {
  text-align: center;
}

.flex-container-01 {
  display: flex;
  justify-content: space-between;

  gap: 1rem;
}

.first-letter-style {
  display: inline-block;
  // margin-right: 2px;
  // margin-bottom: 2px;

  color: var(--primary-color);
  line-height: 0.75em;
}

.first-letter-style-font-xl {
  font-size: 8.6rem;
}
.first-letter-style-font-l {
  font-size: 6.4rem;
  // background-color: tan;
}
